<form [formGroup]="formGroup">
  <div app-editable
       class="flex align-items-center justify-content-center">
    <ng-template appViewMode>
      <div class="group-filters viewMode">
        <p class="info-style">Order status:</p>
        <div class="info-style font-bold">
            <span appEllipsis [styleName]="'filtersBox'">
               {{formGroup.get('status').value.length|multiSelectInfo:statusList}}
            </span>
        </div>
      </div>
    </ng-template>
    <ng-template appEditMode>
      <div class="group-filters mx-2 single-input-width grid editMode">
        <div class="col-12 group-filters">
                      <span class="p-float-label">
                <p-multiSelect
                  [options]="statusList"
                  formControlName="status"
                  class="multiselect-filter"
                  id="status"
                  optionLabel="label"
                  optionValue="value"
                  selectedItemsLabel="{0} items selected">

                </p-multiSelect>
                   <label for="status">Order status</label>
              </span>

        </div>
      </div>
    </ng-template>
  </div>
</form>
