<h5 class="mt-5">Choose columns</h5>
<form [formGroup]="formGroup" *ngIf="columnList.length">
  <ng-container *ngFor="let column of columnList">
    <div class="field-checkbox p-mb-2">
      <p-checkbox
        [inputId]="column.field"
        [value]="column.field"
        [name]="column.field"
        [formControlName]="column.field"
      ></p-checkbox>
      <label
        [for]="column.field"
        class="text-ellipsis">
        {{column.header}}
      </label>
    </div>
  </ng-container>
</form>
<!--<p-divider styleClass="mt-6"></p-divider>-->
<!--<div class="flex">
  <button pButton
          type="button"
          label="Done"
          class="p-button-info font-Sans-Bold-M mr-2"
          (click)="save()"
          id="apply"
  ></button>
  <button pButton
          id="Reset"
          type="button"
          label="Reset"
          (click)="formGroup.reset()"
          class="p-button-text font-Sans-Bold-M"
  ></button>
</div>-->
<!-- Columns with category -->
<!--<need>-->
<!--
<div *ngFor="let item of columnList" class="p-ml-2">
  <div class="sub-filter-title">
    <h2 class="p-mb-3">{{item.name| titlecase}}</h2>
  </div>
  <div class="p-grid">
    <div
      *ngFor="let subCategory of item.subCategory"
      class="p-col-6 p-field-checkbox">
      <p-checkbox
        binary="true"
        [inputId]="subCategory"
        [name]="subCategory"
        [formControlName]="subCategory"
      ></p-checkbox>
      <label
        [for]="subCategory"
        class="text-ellipsis">
        {{subCategory | titlecase}}
      </label>
    </div>
  </div>
</div>
-->
