div.scrollMenu {
  overflow: hidden;
  white-space: nowrap;

  & a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
    //outline-offset: 10px;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
      border-radius: 5px
    }
  }

  & i {
    color: #007BFF;
    margin-right: 5px;
  }
}

.nav-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {

    padding: 1em;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
      border-radius: 5px;
    }

    a {
      color: rgba(0, 0, 0, 0.87);
    }

    i {
      color: #007BFF;
      margin-right: 5px;
    }
  }

}

.horizontal-li {
  float: left;
  line-height: 1.1em;
  display: inline-block;

}

