<ng-container *ngIf="items?.length">
  <div appMenuList [items]="items" (navList)="navList=$event?$event:items" (moreList)="moreList=$event">

      <div class="scrollMenu" id="scrollMenu">
        <ng-container *ngFor="let item of navList">
          <a (click)="item?.command()"> <i [class]="item?.icon"></i>{{item?.label}}</a>
        </ng-container>
        <span *ngIf="moreList?.length" (click)="op.toggle($event)"> <i class="pi pi-fw pi-ellipsis-h"></i></span>
      </div>


    <p-overlayPanel #op>
      <ng-template pTemplate="">
        <ul class="nav-list" *ngFor="let item of moreList">
          <li (click)="item?.command()">
            <a> <i [class]="item?.icon"></i>{{item?.label}}</a>
          </li>
        </ul>
      </ng-template>
    </p-overlayPanel>
  </div>
</ng-container>

