<form [formGroup]="formGroup">
  <div class="grid">
    <div class="col-12 mt-3">
         <span class="p-float-label">
              <p-multiSelect [options]="scheduleList"
                             class="multiselect-filter"
                             formControlName="scheduleId"
                             id="schedule"
                             optionValue="id"
                             optionLabel="title"
                             selectedItemsLabel="{0} items selected">
              </p-multiSelect>
           <label for="schedule">Schedules</label>
         </span>
    </div>
  </div>
</form>
