<form [formGroup]="formGroup">
  <div class="flex align-items-center justify-content-center mr-2">
    <div class="group-filters" (click)="OrgOp.toggle($event)">
      <p class="info-style">Organizations:</p>
      <div class="info-style font-bold">
        <span appEllipsis [styleName]="'filtersBox'">
          {{ formGroup.get('organization').value  |
          memberTranslator:formGroup.get('memberList').value : (memberOption$|async)}}
        </span>
      </div>
    </div>
  </div>
</form>

<div class="overlaypanel-filter">
  <p-overlayPanel #OrgOp
                  [showCloseIcon]="false"
                  [style]="{width:'200px'}">
    <ng-template pTemplate="">
      <div class="w-100 mt-2">
        <form [formGroup]="formGroup">
          <div class="grid">
            <div class="col-12 mb-2">
         <span class="p-float-label">
           <p-dropdown optionLabel="label"
                       class="dropdown-filter"
                       formControlName="organization"
                       optionValue="value"
                       id="organization"
                       [options]="organization"
                       (onChange)="onChangeOrganization()"
           ></p-dropdown>
           <label for="organization">Organizations</label>
         </span>
            </div>
            <div class="col-12" *ngIf="formGroup.get('organization').value!=='all'">

                <span class="p-float-label">

                      <p-multiSelect id="schools"
                                     [options]="memberOption"
                                     formControlName="memberList"
                                     optionLabel="name"
                                     optionValue="name"
                                     (onChange)="checkBusinessList($event)"
                                     class="multiselect-filter"
                                     selectedItemsLabel="{0} items selected"
                      >
            </p-multiSelect>
            <label *ngIf="formGroup.get('organization').value==='school'" for="schools">Schools</label>
            <label *ngIf="formGroup.get('organization').value==='provider'" for="schools">Providers</label>
        </span>
            </div>
            <div class="col-12" *ngIf="formGroup.get('organization').value==='all'">
              <ng-container *ngIf="(groupedMember$|async) as groupedMemberData">
                <p-multiSelect [options]="groupedMemberData"
                               class="multiselect-filter"
                               formControlName="memberList"
                               (onChange)="checkBusinessList($event)"
                               [group]="true"
                               scrollHeight="200px"
                               selectedItemsLabel="{0} items selected"
                >
                  <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center">
                      <p class="font-bold text-lg">{{group.label}}</p>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-container>
            </div>
            <div class="col-12 mb-2">
         <span class="p-float-label">
           <p-dropdown optionLabel="label"
                       class="dropdown-filter"
                       formControlName="organization"
                       optionValue="value"
                       id="organization"
                       [options]="organization"
                       (onChange)="onChangeOrganization()"
           ></p-dropdown>
           <label for="organization">Season</label>
         </span>
            </div>

            <div class="col-12 mb-2">
         <span class="p-float-label">
           <p-dropdown optionLabel="label"
                       class="dropdown-filter"
                       formControlName="organization"
                       optionValue="value"
                       id="organization"
                       [options]="organization"
                       (onChange)="onChangeOrganization()"
           ></p-dropdown>
           <label for="organization">Program</label>
         </span>
            </div>

          </div>
        </form>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>

