<form [formGroup]="formGroup">
  <div class="grid">
      <div class="col-12 my-2">
              <span class="p-float-label">
              <p-multiSelect [options]="seasonList"
                             id="seasonName"
                             class="multiselect-filter"
                             formControlName="seasonId"
                             optionValue="id"
                             optionLabel="title"
                             selectedItemsLabel="{0} items selected">
              </p-multiSelect>
               <label for="seasonName">Seasons</label>

              </span>
      </div>

  </div>
</form>

