<div class="flex align-items-center justify-content-center mr-2">
    <div class="group-filters" (click)="DateOp.toggle($event)">
      <p class="info-style">{{filterLabel}}:</p>
      <div class="info-style font-bold">
        <span appEllipsis [styleName]="'filtersBox'">{{formGroup.get('name').value['label']}}</span>
      </div>
    </div>
</div>

<div class="overlaypanel-filter">
  <p-overlayPanel #DateOp
                  [showCloseIcon]="false"
                  [style.width]="showCalender ? 'calc(100% - 65vw)' : 'calc(100% - 90vw)'">

    <ng-template pTemplate="">
      <div class="w-100 p-mb-2">
        <div class="grid">
          <div [ngClass]="showCalender ?'col-6':'col-12'">
            <form [formGroup]="formGroup">
              <div *ngFor="let item of defaultDates" (click)="calcDateRange(+item.key)"
                   class="field-checkbox py-2 cursor-pointer"
                   [ngClass]="{'highlight-date':formGroup.get('name').value['label']===item.label}">
                <p-radioButton [inputId]="item.label"
                               formControlName="name"
                               class="p-hidden"
                               [value]="item">
                </p-radioButton>
                <label class="cursor-pointer"
                       [for]="item.label">{{item.label}}</label>
              </div>
            </form>
          </div>
          <div class="col-6" *ngIf="showCalender">
            <form [formGroup]="formGroup">
              <div class="p-grid p-p-2">
                <div class="p-col-12 mt-4">
                            <span class="p-float-label">
                              <p-calendar
                                [maxDate]="todayDate"
                                appendTo="float-label"
                                formControlName="regStartDate"
                                [ngClass]="{'ng-invalid ng-dirty':formGroup.get('regStartDate').invalid
                                           &&(formGroup.get('regStartDate').dirty || formGroup.get('regStartDate').touched)}"
                                id="from">
                              </p-calendar>
                              <label for="from">From</label>
                               </span>
                  <span id="float-label"></span>
                  <div
                    *ngIf="(formGroup.get('regStartDate').hasError('required') &&(formGroup.get('regStartDate').dirty || formGroup.get('regStartDate').touched))">
                    <small class="p-error">From date is required.</small>
                  </div>
                </div>
                <div class="p-col-12 mt-4">
                              <span class="p-float-label">
                              <p-calendar appendTo="float"
                                          [maxDate]="todayDate"
                                          formControlName="regEndDate"
                                          [ngClass]="{'ng-invalid ng-dirty':formGroup.get('regEndDate').invalid
                                           &&(formGroup.get('regEndDate').dirty || formGroup.get('regEndDate').touched)}"
                                          id="to">
                              </p-calendar>
                              <label for="to">To</label>
                              </span>
                  <span id="float"></span>
                  <div
                    *ngIf=" !formGroup.get('regEndDate').value &&(formGroup.get('regEndDate').dirty || formGroup.get('regEndDate').touched)">
                    <small class="p-error">To date is required.</small>
                  </div>
                  <div
                    *ngIf="formGroup.get('regEndDate').hasError('invalidRangeDate') && formGroup.get('regEndDate').value">
                    <small class="p-error">To date must be before from date.</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </ng-template>
  </p-overlayPanel>
</div>
