<form [formGroup]="formGroup">
  <div class="flex align-items-center justify-content-center mr-2">
    <div class="group-filters" (click)="SeasonOp.toggle($event)">
      <p class="info-style">Programs:</p>
      <div class="info-style font-bold">
        <span appEllipsis [styleName]="'filtersBox'">
          {{ formGroup.get('program').value |titlecase}}
        </span>
      </div>
    </div>
  </div>
</form>
<div class="overlaypanel-filter">
  <p-overlayPanel #SeasonOp
                  [showCloseIcon]="false"
                  [style]="{width:'200px'}">
    <ng-template pTemplate="">
      <div class="w-100 mt-2">
        <form [formGroup]="formGroup">
          <div class="grid">
            <ng-container *ngIf="(yearView$|async)">
              <div class="col-12 mb-2">
         <span class="p-float-label">
           <p-dropdown optionLabel="label"
                       class="dropdown-filter"
                       formControlName="season"
                       optionValue="value"
                       id="season"
                       [autoDisplayFirst]="true"
                       [options]="season"
           ></p-dropdown>
           <label for="season">Season</label>
         </span>
              </div>
              <div class="col-12 mb-2">
         <span class="p-float-label">
           <p-dropdown
             class="dropdown-filter"
             formControlName="year"
             id="year"
             optionValue="value"
             optionLabel="label"
             [autoDisplayFirst]="true"
             [options]="year"
           ></p-dropdown>
           <label for="year">Year</label>
         </span>
              </div>
            </ng-container>
            <ng-container *ngIf="!(yearView$|async)">
              <div class="col-12 mb-2 ">
              <span class="p-float-label">

              <p-multiSelect [options]="season"
                             class="multiselect-filter"
                             formControlName="season"
                             optionValue="value"
                             selectedItemsLabel="{0} items selected">

              </p-multiSelect>
               <label for="program">Seasons</label>

              </span>
              </div>
            </ng-container>
            <div class="col-12">
         <span class="p-float-label">
              <p-multiSelect [options]="season"
                             class="multiselect-filter"
                             formControlName="program"
                             id="program"
                             optionValue="value"
                             selectedItemsLabel="{0} items selected">

              </p-multiSelect>
           <label for="program">Programs</label>
         </span>
            </div>
            <p *ngIf="(yearView$|async)as yearView"
               class="mx-auto mt-2 cursor-pointer info-color"
               (click)="switchView(!yearView)">
             Switch to season type
            </p>
            <p *ngIf="!(yearView$|async)as yearView"
               class="mx-auto mt-2 cursor-pointer info-color"
               (click)="switchView(yearView)">
              Switch to season name
            </p>
          </div>
        </form>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>
